node_modules
.expo
.expo-shared
npm-debug.log
yarn-error.log
dist
.build
.DS_Store
*.keystore
.env
node_modules/
.expo/
ios/Pods/
android/.gradle/
android/app/build/
*.jks
*.keystore
.env
.env.*
.DS_Store

*.apk
*.aab
